.transition-swipe {
    opacity: 1;
    transition: 0.5s ease-in;
    transform: translateX(0);
    transform-origin: left;
    
}

html.is-animating .transition-swipe {
    opacity: 1;
    transform: translateX(100%);
    transition: ease-in;
}

html.is-leaving .transition-swipe {
    opacity: 1;
    transition: 0.4s ease-out;
    transform: translateX(-100%);
}